

.home {

  h1 {
    margin: 20px auto;
    color: $light-blue;
    text-align: center;
    font-family: $handwritten-font;
    font-size: 40px;
  }

  .btn {
    a {
      text-align: center;
      display: block;
      width: 100%;
      padding: 40px 0;
      background-color: $light-grey;
      font-size: 40px;
      color: $dark-blue;
      // margin: auto;
      // padding: 40px 20px;

      border: 1px solid $dark-blue;
      border-radius: 5px;
      text-decoration: none;
      &:hover {
        color: $light-blue;
        background-color: $medium-blue;
        border: 1px solid $light-blue;

      }
    }
  }


}
