<div class="home">

  <div class="container">
    <h1>Stripe API Integration</h1>
    <div class="row">
      <div class="col-6">
        <%= link "Make a Payment", to: charge_path(@conn, :index) %>
      </div>
      <div class="col-6 btn-container">
        <%= link "Create a Customer", to: customer_path(@conn, :index) %>
      </div>
    </div>
  </div>
</div>
